:root {
  --white-text: #ffffff;
  --black-text: #000000;
  --grey-text: #907e82;

  --secondary-title: #ffa5ba;

  --bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --third-bg-color: #ffb8ca;

  --accent-color: #d41443;
  --secondary-accent-color: #c7133e;

  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
