<div class="container gallery">
    <picture>
        <source srcset="
                ./images/desktop/banner-1200.jpg    1x,
                ./images/desktop/banner-1200@2x.jpg 2x
              " media="(min-width: 1280px)" />
              <source srcset="
                      ./images/tablet/banner-768.jpg    1x,
                      ./images/tablet/banner-768@2x.jpg 2x
                    " media="(min-width: 768px)" />
        <source srcset="
        ./images/mobile/banner-320.jpg    1x,
        ./images/mobile/banner-320@2x.jpg 2x
      " media="(min-width: 320px)" />
        
      

        <img class="gallery__image" src="./images/mobile/banner-320.jpg" alt="Our products"  />
    </picture>
</div>