<p>modal-locations-franchaise</p>
<button type="button" class="modal-window__open" location-modal-open>open modal</button>
<div class="backdrop is-hidden" location-modal>
  <div class="modal-window">
    <button type="button" class="modal-window__close" location-modal-close></button>
    <p class="modal-window__title">Find us here!</p>
    <div class="map__wrap">
      <iframe
        class="map__frame"
        src="https://www.google.com/maps/d/embed?mid=1uGgB3DNH41t-DZrDIubuC76tUDFVXtDA&ehbc=2E312F"
      ></iframe>
    </div>
  </div>
</div>
<script src="./js/togle-map.js"></script>
