    <div class="container">
        <p class="products__text">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__card">
                <picture>
                    <source srcset="
                                    ./images/desktop/products-1-1200.png 1x,
                                    ./images/desktop/products-1-1200@2x.png 2x" 
                                    media="(min-width:1280px)" />
                    <source srcset="
                                    ./images/tablet/products-1-768.png 1x,
                                    ./images/tablet/products-1-768@2x.png 2x" 
                                    media="(min-width:768px)" />
                    <source srcset="
                                    ./images/mobile/products-1-320.png   1x,
                                    ./images/mobile/products-1-320@2x.png 2x" 
                                    media="(min-width:320px)" />
                    <img class="products__images" 
                    src="./images/mobile/products-1-320.png" 
                    alt="">
                </picture>
            </li>
            <li class="products__card">
                <picture>
                    <source srcset="
                                    ./images/desktop/products-2-1200.png 1x,
                                    ./images/desktop/products-2-1200@2x.png 2x" 
                                    media="(min-width:1280px)" />
                    <source srcset="
                                    ./images/tablet/products-2-768.png 1x,
                                    ./images/tablet/products-2-768@2x.png 2x" 
                                    media="(min-width:768px)" />
                    <source srcset="
                                    ./images/mobile/products-2-320.png   1x,
                                    ./images/mobile/products-2-320@2x.png 2x" 
                                    media="(min-width:320px)" />
                    <img class="products__images" 
                    src="./images/mobile/products-2-320.png" 
                    alt="">
                </picture>
            </li>
            <li class="products__card">
                <picture>
                    <source srcset="
                                    ./images/desktop/products-3-1200.png 1x,
                                    ./images/desktop/products-3-1200@2x.png 2x" 
                                    media="(min-width:1280px)" />
                    <source srcset="
                                    ./images/tablet/products-3-768.png 1x,
                                    ./images/tablet/products-3-768@2x.png 2x" 
                                    media="(min-width:768px)" />
                    <source srcset="
                                    ./images/mobile/products-3-320.png   1x,
                                    ./images/mobile/products-3-320@2x.png 2x" 
                                    media="(min-width:320px)" />
                    <img class="products__images" 
                    src="./images/mobile/products-3-320.png" 
                    alt="">
                </picture>
            </li>
        </ul>
    </div>