.gallery {
  background: linear-gradient(to top, white 60%, #fff5f6 40%);
}
.gallery__img {
}

.gallery__image {
  @media screen and (min-width: 320px) {
    margin-left: -20px;
    width: 100%;
    flex: 1 1 100%;
  }
  @media screen and (min-width: 768px) {
    margin-left: -20px;
    width: 100%;

    flex: 1 1 100%;
  }
  @media screen and (min-width: 1280px) {
    margin-left: auto;
    width: 100%;

    flex: 1 1 100%;
  }
}
