.gallery {
  background: linear-gradient(to top, white 60%, #fff5f6 40%);
}
.gallery__img {
}

.gallery__image {
  @media screen and (max-width: 480px) {
    margin-left: -20px;
    width: 287px;
    height: 122px;
  }
  @media screen and (min-width: 768px) {
    margin-left: -10px;
    width: 620px;
    height: 264px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: -20px;
    width: 1010px;
    height: 430px;
  }
}
